@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 217, 203, 244;
  --background-end-rgb: 205, 189, 244;
}

body {
  height: 100vh;
  background: linear-gradient(
    to top,
    rgb(var(--background-end-rgb)),
    rgb(var(--background-start-rgb))
  );
}
